<div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Blog en Rails', root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
      				<li><%= link_to "Articulos", articles_path %></li>
              <% @categories.each do |category| %>
                <li><%= link_to category.name, category %></li>
              <% end; %>
              <% if user_signed_in? %>
              <li>
                <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li>
                <%= link_to "Iniciar sesión", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Crear cuenta", new_user_registration_path %>
              </li>
              <% end; %>
          </ul>
        </div>
      </div>
    </div>
  </div>