<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'partials/navigation' %>
    <p class=""><%= notice %></p>
    <p class=""><%= alert %></p>
    
    <div class="container">
	     <%= yield %>      
    </div>

	<div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-copyright-mark"></span> <a href="https://twitter.com/lordaeron_" target="_blank">Christian Rojas</a></p>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
